* {
    margin: 0;
    padding: 0;
}

/*We Are Avesome Creative Agency*/
.header {
    text-align: center;
    background-image: url(img2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;

}

.header__logo {
    top: 20px;
    float: left;
    margin: 10px 0px 7px 40px;
    color: #00afd4;
    font-size: 25px;
    display: flex;
    align-items: center;

}

h2 {
    margin-left: 15px;
    font-size: 25px;
    font-weight: normal;
}
li {
    list-style-type: none;
}

.header__menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    color: #8c968a;
    font-size: 30px;
    /*margin-right: 20px;*/
    text-align: right;
    width: 100%;
    height: 60px;
}

.mainMenu {

}
.mainMenu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainMenu__item {

}
.mainMenu__item a{
    padding: 5px 15px;
    color: black;
    text-decoration: none;
}
.mainMenu__item a:hover{
    text-decoration: underline;
}

.burgerMenu {
    display:none;
    padding: 5px 15px;
    border: 1px solid grey;
}

.header__menu {
    color: #8c968a;
    font-size: 30px;
    margin-right: 20px;
    text-align: right;
    width: 100%;
    height: 60px;
}

a {
    /*margin-top: 100px;*/
    color: white;
    margin-right: 25px;
    text-align: right;
    font-size: 20px;
    box-sizing: border-box;
    display: inline;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: rgba(0, 175, 212, 0.42);
}

.header__excerpt {
    font-size: 25px;
    color: white;
    margin: 100px;
}

p span {
    /*display: flex;*/
    text-align: center;
    border: 5px solid #00caf4;
    padding: 10px;
    color: #00caf4;
}

.line {
    width: 50px;
    margin: 30px auto;
    border: 1px solid #00caf4;
}

.header__button {
    margin-bottom: 50px;
    margin-left: -25px;
    align-items: center;
    text-align: center;
}

.header__point {
    display: flex;
    margin: 0 auto;
    padding: 50px;
    width: 165px;
}

.point {
    height: 8px;
    width: 8px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    list-style: none;
    transition: .3s;
}

.point:hover {
    border: none;
    background: #00e0d0;
    cursor: pointer;
}

p span:hover {
    color: rgba(0, 175, 212, 0.74);
    border: 5px solid rgba(0, 175, 212, 0.42);
}

/*OUR STORY*/
.preview{
    max-width: 1000px;
    /*display: flex;*/
    margin: 30px auto;
}
.preview__page {
    /*margin: 50px;*/
    /*margin-left: 300px;*/
    /*margin-right: 250px;*/
    display: flex;
    text-align: left;
}

.preview__logo {
    /*top: 100px;*/
    /*left: 100px;*/
    text-align: center;
}

/*h1 {*/
    /*margin-bottom: 25px;*/
    /*margin-left: 35px;*/
/*}*/

p {
    margin-left: 35px;
}

.preview__button {
    margin: 30px 30px 30px 0;
}

/*WATCH OUR STORY*/
.media {
    text-align: center;
    background-image: url(watchOurStory.png);
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;

}

.playIcon {
    margin-top: 200px;
    /*margin-bottom: 250px;*/
    left: 100px;
    top: 100px;
}

h3 {
    color: white;
    margin-top: 25px;
    margin-bottom: 200px;
    /*margin: 25px;*/
}

/*Expertise*/
.content {
    margin-top: 50px;
    text-align: center;
}
.items {
    margin-bottom: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px;
    justify-content: center;
    text-align: center;
}
/*.items {*/
    /*margin-bottom: auto;*/
    /*!*text-align: center;*!*/
    /*margin-top: 50px;*/
    /*!*margin-left: 300px;*!*/
    /*display: grid;*/
    /*grid-template-columns: 250px 250px 250px;*/
    /*grid-template-rows: 250px 250px;*/
    /*!*align-items: start;*!*/

    /*!*justify-content: center;*!*/
/*!*}*!*/

.items__web {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;;
}
.items__branding {
    /*border-left: 1px solid gray;*/
    margin-left: -30px;
    margin-top: 50px;
    border-right: 1px solid rgba(128, 128, 128, 0.44);
    border-bottom: 1px solid rgba(128, 128, 128, 0.44);
}

.items__web {
    margin-top: 50px;
    /*margin-bottom: px;*/
    border-right: 1px solid rgba(128, 128, 128, 0.44);
    border-bottom: 1px solid rgba(128, 128, 128, 0.44);
}

.items__mobile {
    margin-top: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.44);
}

.items__search {
    /*margin-top: 25px;*/
    border-right: 1px solid rgba(128, 128, 128, 0.44);
    margin-bottom: 15px;
}

.items__game {
    /*margin-top: 25px;*/
    margin-left: -30px;
    margin-bottom: 15px;
    border-right: 1px solid rgba(128, 128, 128, 0.44);
}

.items__made {
    margin-bottom: 15px;
    /*margin-top: 25px;*/
    /*border-right: 1px solid gray;;*/
}

.itemsImage {
    margin: 15px;
}

h4 span {
    margin-top: 50px;
    /*text-align: center;*/
    /*font-size: 25px;*/
    /*font-weight: normal;*/
}

h4 {

    margin: 5px;
    text-align: center;
    /*font-size: 25px;*/
    /*font-weight: normal;*/
}

/*MEET OUR AMATING TEAM*/
.people {
    /*margin-top: 50px;*/
    /*text-align: center;*/
    background-image: url(img2.jpg);
    -webkit-background-size: cover;
    background-size: cover;

    height: 100%;
    color: white;
}

.title p{
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: auto;
    text-align: center;
    font-size: 30px;
    /*padding: 20px;*/
}

.comand {
    border: 3px solid white;
    margin: 20px;

}

.people__comand {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.people p, h1 {
    text-align: center;
    margin: 50px;
}

/*OUR WORKS*/
.works{
    margin-top: 50px;
    background: white;
    padding-bottom: 50px;

}

.works__header {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    justify-content: space-between;
}
.works__blocks {
    max-width: 100%;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.work__block {
    width: 20%;
    /*border: 1px solid grey;*/
    height: 200px;
}
.works__button {
    margin-left: 200px;
    /*margin: 0 auto 50px;*/
    /*max-width: 130px;*/
    /*height: 40px;*/
    /*border: 2px solid #00e0d0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*color: #00e0d0;*/
    /*transition: .7s;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*font-family: HammersmithOne, sans-serif;*/
}


.color-lightGrey {
    background: #b6b6b6;
}
.color-grey {
    background: #989898;
}
.color-darkGrey {
    background: #747474;
}
.color-heavyGrey {
    background: #666666;
}


/*comment*/
.comment {
    /*max-width: 900px;*/
    /*margin: 50px auto;*/
    background-image: url(img2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
}

.comment__content {
    text-align: center;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
}
.comment__imag {
    display: flex;
    align-items: center;
    max-width: 450px;
    /*margin: 0 auto 20px;*/
    padding: 10px;
    margin-left: 30px;
}


.img{
    /*margin: 50px auto;*/
padding: 10px;
/*margin-left: 25px;*/
}
.comment__quotes {
    font-size: 100px;
    font-family: Algerian, sans-serif;
    color: white;
    /*font-weight: bold;*/
}
.comment__text {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    color: #dfdee4;
    /*opacity: .8;*/
    margin-bottom: 50px;
    line-height: 1.5;
}
.comment__firsName {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    margin-top: 5px;
    color: white;
    text-align: center;
    margin-bottom: auto;
    margin-right: 25px;

}
.comment__name {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #e2e1e7;
    font-weight: bold;
    margin-top: 100px;
    margin-right: 25px;
}
 .comment__content p{
     color: #ffffff;
 }


/*GIVE US A GOOD NEWS*/
.news{
    margin-bottom: 30px;
}
.news__titleMain{
    font-weight: bold;
    font-size: 25px;
}

label {
margin-top: 20px;
    display: block;
    margin-left: 10px;
    padding: 10px;
    justify-content: center;
height: 20px;
    width: 50px;
    font-family: Roboto, sans-serif;

}

input{
    margin: 15px;
    padding: 15px;
}

.new__button{
    margin-top: 100px;

}

.new {
    max-width: 1000px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__new {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0px;
    margin-top: 0px ;
    margin-right: 500px;
}

.ourClients {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    margin-top: 0px ;
    margin-left: 500px;
}
.ourClients__titleMain{
    font-weight: bold;
    font-size: 25px;
}



.client__blocks {
    display: flex;
    /*flex-direction: column;*/
    /*height: 400px;*/
    flex-wrap: wrap;
}

.client__block {
    width: 170px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}



/*Footer*/

.footer {
    background-image: url(footerBg.png);
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto 40px;
    color: white;
}

.footer__footer {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
}

.footerMain__block {
    max-width: 310px;
    /*padding: 10px;*/
    /*margin: 0 auto;*/
}

.blockTitle {
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.footerMain__location {
    display: flex;
    margin-bottom: 10px;
}

.locationImg {
    margin-right: 9px;
}

.footerMain__image {

}

.phoneNumberImg {
    margin-right: 5px;
    /*margin-bottom: 10px;*/
}

.footerMain__phoneNumber {
    display: flex;
}

.footerMain__blockTitle {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footerMain__subscribe {
    display: flex;
    justify-content: space-between;
}

.subscribe__input {
    /*border: 1px solid grey;*/
    /*padding: 4px 19px 4px 8px;*/
    /*display: flex;*/
    /*align-items: center;*/
    opacity: .7;
    /*font-size: 14px;*/
    margin-left: -30px;
    margin-top: -40px;

}

.subscribe__img {
margin-left: 170px;
    height: 45px;
    width: 70px;
}

.subscribeIconsSocialNetworks {
    margin-top: 20px;
}

.socialNetworksIcon {
    margin: 0 3px;
}

.footer__navBar {
    list-style: none;
    display: flex;
    font-size: 10px;
}

.footer__copyrights {

}

.ourStudio {
    margin-bottom: 50px;
}

/*!*RESPONSIVE MENU*!*/

/*.show-menu-btn,.hide-menu-btn{*/
    /*display: block;*/
/*}*/
/*.header__button{*/

    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background: #333;*/
    /*right: -100%;*/
    /*top: 0;*/
    /*text-align: center;*/
    /*padding: 80px 0;*/
    /*line-height: normal;*/
    /*transition: 0.7s;*/
/*}*/
/*.header__button a{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding: 10px;*/
/*}*/
/*.hide-menu-btn{*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*right: 40px;*/
 /*}*/
/*#chk:checked ~ .header__button{*/
    /*right: 0;*/
/*}*/

/*RESPONSIVE MENU*/

.header__menu{
    display: block;
}
.header__button{

    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
}
.header__button a{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.burgerMenu{
    position: absolute;
    top: 40px;
    right: 40px;
}
/*#chk:checked ~ .header__button{*/
    /*right: 0;*/
/*}*/


@media screen and (max-width: 1000px) and (min-width: 320px) {
    .page {
        width: 75%;
        min-width: 950px;
        max-width: 720px;

    }
    /*.header__excerpt h1{*/
        /*padding-top: 100px;*/
    /*}*/
    @media screen and ( max-width: 500px ) {

        .mainMenu:hover .mainMenu__list {
            display: block;
        }

        .mainMenu__list {
            display: none;
        }

        .burgerMenu {
            display: inline-block;
        }
    }
    .header__logo {

    text-align: center;

    }
    .header__menu {

        flex-direction: column;
        /*font-size: 15px;*/
        margin-right: 5px;
        text-align: right;
        /*width: 100%;*/
        height: 100px;
    }

    .header__button {
        margin-bottom: 100px;
    }

    .preview__page {
        /*margin: 50px;*/
        /*margin-left: 100px;*/
        /*margin-right: 100px;*/
        display: flex;
        text-align: left;
    }

    .preview__button {
        margin-top: 50px;
        margin-left: 350px;
        margin-bottom: 100px;
        /*display: flex;*/
        text-align: left;
    }

    .previewImage {
        margin-top: 80px;

    }
    /*.burgerMenu{*/
        /*padding: 15px 15px;*/
        /*display: none;*/
    /*}*/


    @media screen and (max-width: 600px) {

/*.header__menu{*/
    /*display: none;*/

/*}*/
        /*.burgerMenu{*/
            /*display: inline-block;*/
            /*!*border: 2px solid #00caf4;*!*/
            /*!*background: #00afd4 ;*!*/
        /*}*/

.menu {
    text-align: right;
}

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

/*.menu__icon span:nth-child(1) {*/
    /*top: 0px;*/
/*!*}*!*/

/*.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {*/
    /*top: 13px;*/
/*}*/

/*.menu__icon span:nth-child(4) {*/
    /*top: 26px;*/
/*}*/

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
}

@media screen and (max-width: 999px) {
    .menu__icon{
        display: inline-block;
    }

    .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 52px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto;
    }

    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
}}}


